* {
    margin-bottom: 20px;
    border: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    background-color: rgb(123, 157, 166);
}

body {
    max-width: 100%;
    height: auto;
}

.hero{
    height: 300px;
    width: 100%;
    margin-bottom: 10px; 
    background-image: url("canyon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
main{
    display: block;
    flex-wrap: wrap;
    margin-top: 3%;
}

.box {
    float: inline-start
    flex-wrap: nowrap;
    display: block;
    padding: 3px;
}
section{
    border-left-style: solid;
    border-width: 3px;
    border-left-color: black;
    background-color: rgb(123, 157, 166);
}