* {
    margin-bottom: 20px;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    height: auto;
    background-color: rgb(123, 157, 166);
}

.header {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
    background-position: center;
    background-color: rgb(123, 157, 166);
}

.header h1 {
    margin-top: 8; 
}

.header nav {
    text-align: right;
    padding-top: 25px;
   
}

.header nav a {
    font-size: 1.5px;
    padding: 5px;
    border-bottom: 2px;
}

.hero-image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px; 
    background-image: url("canyon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 2px solid black;   
}


img {
    max-width: 25%;
    max-height: 25%;
    border-radius: 1%;
    margin: 5px;
    border: 2px solid black;
}

.about_me {
    
    justify-content: right;
    align-items: center;
}

.about_me h2 {
    width: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-flexbox
}

main{
    display: block;
    flex-wrap: wrap;
    margin-top: 3%;
}


.box {
    float: inline-start
    flex-wrap: nowrap;
    display: block;
    padding: 3px;
}
section{
    border-left-style: solid;
    border-width: 3px;
    background-color: rgb(123, 157, 166);
}